<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static 'course_log/style.css' %}'>
  </head>
  <body>
    <h3>Add a new course</h3>
    {% if messages %}
      {% for message in messages %}
        <p class='{{ message.tags }}'>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form action='/courses/add' method='post'>
      {% csrf_token %}
      <p>Name: <input type='text' name='name'></p>
      <p>Description: <textarea name='desc' rows='4' cols='20'></textarea><br>
      <input type='submit' value='Add'>
    </form>

    <h3>Course Log</h3>
    <table>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for course in courses %}
      <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.desc }}</td>
        <td>{{ course.created_at }}</td>
        <td><a href='/courses/{{ course.id }}/remove'>Remove</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
</html>
